
<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td id="form[body]">
			<table width="99%" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th style="text-align: center;">{{formA.txtDistrict}}
							<input id="form[txtDistrict]" name="form[txtDistrict]" type="hidden" value="{{formA.txtDistrict}}"> 
							<span id="form[tltTitle]" name="form[tltTitle]">Professional Appraisal System</span>
						</th>
					</tr>
					<tr>
						<th style="text-align: center;">
							<span id="form[tltFormA]" name="form[tltFormA]">Form A: Pre-Observation Conversation for</span> 
							{{formA.tltSpe}}<input id="form[tltSpe]" name="form[tltSpe]" type="hidden" value="{{formA.tltSpe}}">
						</th>
					</tr>
					<tr>
						<th style="text-align: center;">
							{{formA.txtSchool}}<input id="form[txtSchool]" name="form[txtSchool]" type="hidden" value="{{formA.txtSchool}}">
						</th>
					</tr>
					<tr>
						<th style="text-align: center;">
							{{formA.txtSAddress}}<input id="form[txtSAddress]" name="form[txtSAddress]" type="hidden" value="{{formA.txtSAddress}}">
							,{{formA.txtSCity}}<input id="form[txtSCity]" name="form[txtSCity]" type="hidden" value="{{formA.txtSCity}}">
							,{{formA.txtSState}}<input id="form[txtSState]" name="form[txtSState]" type="hidden" value="{{formA.txtSState}}">
							,{{formA.txtSZip}}<input id="form[txtSZip]" name="form[txtSZip]" type="hidden" value="{{formA.txtSZip}}">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td>
							<gridQuestion apptype="edquestionn" cpt="textarea" mode="@#MODE" sqlconnection="6031185044ef1547f4df719083105315" btn_cancel="Cancel"><![CDATA[SELECT EDMGR_FORM_BASICINFO.`BASIC_UID`,EDMGR_QUESTIONS.`QUE_DETAIL`,EDMGR_FORM_BASICINFO.`IS_EDIT`
,EDMGR_QUESTIONS.`LAYOUT`,EDMGR_FORM_BASICINFO.`POSITION` FROM `EDMGR_FORM_BASICINFO`
INNER JOIN `STAFFEVAL_FORM_CONFIG` ON STAFFEVAL_FORM_CONFIG.`FORM_TAG` = EDMGR_FORM_BASICINFO.`PARENT_UID`
INNER JOIN `EDMGR_QUESTIONS` ON `EDMGR_QUESTIONS`.`QUE_UID` = EDMGR_FORM_BASICINFO.`CHILD_UID`
WHERE USER_TYPE='@#SpeType' AND C_TYPE='Question' AND STAFFEVAL_FORM_CONFIG.PRO_UID='@#PROCESS' ORDER BY EDMGR_FORM_BASICINFO.`POSITION`;]]><en/></gridQuestion>

						</td>
					</tr>
					<tr style="text-align: center;">
						<td class="FormLabelC">
							<br />
							<input type="button" value="Save" name="form[btnSave]" id="form[btnSave]" class="module_app_button___gray " style="">
							&nbsp;Or&nbsp;
							<input type="submit" value="Submit" name="form[btnSubmit]" id="form[btnSubmit]" class="module_app_button___gray " style="">
							<br /><br />
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
      <div class="well well-sm" ng-model="dt">
          <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
      </div>
    </div>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button class="btn btn-sm btn-success" ng-click="toggleWeeks()" tooltip="For inline datepicker">Toggle Weeks</button>
    <button class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>



		</td>
	</tr>
	<tr>
		<td>
			<h4>Single toggle</h4>
		    <pre>{{singleModel}}</pre>
		    <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
		        Single Toggle
		    </button>
		</td>
		<td id="form[footer]"></td>
	</tr>
</table>
