<!DOCTYPE html>
<html lang="en">
    <head>
        <title>App Staff Assessment System</title>
	    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    </head>
    <body ng-app="staffApp" ng-controller="staffPageInfo">
        <div id="afui" class="light">
            <!-- this is the splashscreen you see. -->
		    <!--<div id="splashscreen" class='ui-loader heavy'>
		        App Framework
		        <br>
		        <br>	<span class='ui-icon ui-icon-loading spin'></span>
		        <h1>Starting app</h1>
		    </div>-->
		    
		    <div id="content">
		    	
		    	<!--login page-->
			    <div title='Welcome' id="login" class="panel" 
			     data-load="loadedLogin" 
			     data-header = "login_header"
			     data-nav = "none"
			     >
			     	<div style="overflow: auto">
			            <p id='login_info'>An automated system that provides a Principal console that monitors all staff evaluation forms. These forms are electronic smart forms, that change status when the forms is in progress and again when completed. Each form promotes a professional conversation between the principal and the teacher.</p>
			            <div style="margin-top: 50px;">
				            <div style="float:left;text-align: right;">
					            <img src="icon.png"/>
							</div>
							<div style="float:left;width:70%;margin-bottom: 50px;">
					            <form id="form">
					                <label for="txtName">User</label>
					                <input style="width:200px;" type='text' placeholder="Login Name" class='af-ui-forms' id="txtName" value="{{loginname}}">
					                <br>
					                <label for="txtPwd">Password</label>
					                <input style="width:200px;" type='password' placeholder="Password" class='af-ui-forms' id="txtPwd" value="{{password}}">
					                <br />
				                	<label>&nbsp;</label>
					                <div style="overflow: hidden;">
						                <div style="float: left;padding-top: 5px;">
						                	<input type="checkbox" name="login_rem" id="login_rem">  
						                	<label style="font-size: 70%; width: 50%;" for="login_rem">Remember</label>
						                </div>
						                <div id="trans-input-ws" style="float: right;">
							    			<input type='text' placeholder="Workspace" id="txtWs" value="{{ws}}">
							    		</div>
					                </div>
					                <br>
					                <br>
					                <input type="button" class="btn btn-primary btn-block" onclick="return verifyLogin();" id="btnLogin" value="Login" style="float:right;">
				            	</form>
			            	</div>
		            	</div>
		            </div>
		        </div>
		        <header id="login_header">
					<h1>
		        		Staff Evaluation System
					</h1>
				</header>
			    
			    <!-- home page case list-->
			    <div id="caselist" class="panel" 
			    data-header = "caselist_header"
			    data-nav = "caselist_side" data-footer = "none"
			    data-load="caseList">
					<div>
			    		<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="font-weight: bold;">
									<tr>
										<td width="10%" style="cursor: default;">#</td>
										<td width="30%" style="cursor: default;">Case</td>
				        				<td width="35%" style="cursor: default;">Process</td>
				        				<td width="25%" style="cursor: default;">Sent by</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-repeat="case in cases">
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="overflow: hidden;word-break: break-all;">
									<tr>
								      	<td width="10%">{{case.APP_NUMBER}}</td>
										<td width="30%">{{case.APP_TITLE}}</td>
				        				<td width="35%">{{case.APP_PRO_TITLE}}</td>
				        				<td width="25%">{{case.APP_DEL_PREVIOUS_USER}}</td>
								    </tr>
								</tbody>
							</table>
						</div>
			    	</div>
				</div>
				<header id="caselist_header" style="text-align: center;">
		        	<h1 id="caselist_header_pageTitle" class="">Staff Evaluation System</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <nav id="caselist_side">
				    <ul class="list" style="margin-bottom: 0px;">
				    	<li class="divider">User Center</li>
				    	<li><a href="#" onclick="$.ui.loadContent('caselist',false,true,'flip');">Case List</a></li>
				    	<li ng-show="isAudit == 1"><a href="#">Search</a></li>
				    	<li ng-show="isAudit == 1"><a href="#">Calendar</a></li>
				    	<li ng-repeat="menu in menus" ng-class="{divider : menu.IS_ROOT == 1}">
				    		<a href="#" onclick="userList(this)" wy_cat="{{menu.WY_CATEGORY}}" user_type="{{menu.USER_TYPE}}" ng-show="{{menu.IS_ROOT != 1}}">{{menu.MENU_NAME}}</a>
				    		<span ng-show="{{menu.IS_ROOT == 1}}">{{menu.MENU_NAME}}</span>
				    	</li>
					</ul>
					
					<!--<ul class="list" ng-repeat="menu_root in menu_roots" style="margin-bottom: 0px;">
						<li class="divider">{{menu_root.PARENT_MENU_NAME}}</li>
			    		<li ng-repeat="menu in menus" ng-show="{{menu.PARENT_MENU_ID == menu_root.PARENT_MENU_ID}}">
			    			<a>{{menu.MENU_NAME}}</a>
			    		</li>
					</ul>-->
				</nav>
				
				<!-- School List -->
		        <div id="schoolList" class="panel" 
			    data-header = "schoollist_header"
			    data-nav = "none" data-footer = "schoollist_footer"
			    data-load="schoolList">
					<div id="case_content_title">
			    		<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="font-weight: bold;color:#303030">
									<tr>
										<td width="10%" style="cursor: default;">#</td>
										<td width="30%" style="cursor: default;">Case</td>
				        				<td width="35%" style="cursor: default;">Process</td>
				        				<td width="25%" style="cursor: default;">Sent by</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-repeat="case in cases">
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="overflow: hidden;word-break: break-all;">
									<tr>
								      	<td width="10%">{{case.APP_NUMBER}}</td>
										<td width="30%">{{case.APP_TITLE}}</td>
				        				<td width="35%">{{case.APP_PRO_TITLE}}</td>
				        				<td width="25%">{{case.APP_DEL_PREVIOUS_USER}}</td>
								    </tr>
								</tbody>
							</table>
						</div>
			    	</div>
				</div>
				<header id="schoolList_header" style="text-align: center;">
		        	<h1 id="pageTitle" class="">Staff Evaluation System</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <!-- user list-->
		        <div id="userList" class="panel" data-header = "userList_header"
		        data-nav = "caselist_side" data-footer = "none">
		        	<br />
					<div style="width: 75%;">
						<input id="userListSearch" class="input-sm" ng-model="userListSearch" style="width:50%;" type="search" placeholder="Please input first name or last name ">
					</div>
					<div class="x-clear"></div>
		        	<div>
			    		<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="font-weight: bold;">
									<tr>
										<td width="20%" style="cursor: default;">First Name</td>
										<td width="20%" style="cursor: default;">Last Name</td>
										<td width="20%" style="cursor: default;">Rating</td>
				        				<td width="25%" style="cursor: default;">Operator</td>
				        				<td width="15%" style="cursor: default;">Status</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-repeat="user in users | filter:userListFilte">
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="overflow: hidden;word-break: break-all;">
									<tr onclick="tagList(this)" data-usruid = "{{user.USR_UID}}" 
									data-schid = "{{user.SCH_ID}}" ng-class="{danger:user.RATING == 'N' || user.RATING == 'U'}">
								      	<td width="20%">{{user.USR_FIRSTNAME}}</td>
								      	<td width="20%">{{user.USR_LASTNAME}}</td>
										<td width="20%"><span style="color:#{{ratcolor[user.RATING].RAT_COLOR}}">{{user.STAFF_RATING}}</span></td>
				        				<td width="25%" onclick="event.cancelBubble=true;assignBtn(this)">{{user.OPERATOR_NAME}}</td>
				        				<td width="15%">{{user.WY_TITLE}}</td>
								    </tr>
								</tbody>
							</table>
						</div>
			    	</div>
		        </div>
		        <header id="userList_header" style="text-align: center;">
		        	<!--<a id="backButton" onclick="$.ui.goBack()" class='button'>Back</a>-->
                    <h1 id="userList_pageTitle" class="">User List</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <!-- Form Tag List -->
		        <div id="tagList" class="panel" data-header = "tagList_header"
		        data-nav = "caselist_side" data-footer = "none">
		        	<br />
					<div style="font-weight: bold;float: left;"><span>Rating:</span><span style="color: #{{tags.RATING_COLORS}};">{{tags.STAFF_RATING}}</span></div>
					<div style="font-weight: bold;float: right;"><span>Operator:</span><span>{{tags.OPERATOR_NAME}}</span></div>
					<br /><br />
					<table class="ema-table ema-table-bordered ema-table-condensed"></tr>
						<tbody style="font-weight: bold;">
							<tr ng-repeat="seg in segments">
								<td rowspan="{{seg.count}}" ng-show="seg.IS_ROOT == 1" style="vertical-align: middle;">{{seg.SEG_SEM_NAME}}</td>
								<td>{{seg.SEG_NAME}}</td>
								<td><div ng-bind-html="trustHtml(seg.sTag)"></div></td>
							</tr>
						</tbody>
					</table>
		        </div>
		        <header id="tagList_header" style="text-align: center;">
		        	<!--<a id="backButton" onclick="$.ui.goBack()" class='button'>Back</a>-->
                    <h1 id="tagList_pageTitle" class="">User List</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <!-- case info -->
		        <div id="caseInfo" style="padding:0px;" class="panel ED-EDM-panel-default" data-header = "none" data-footer = "none" data-nav = "caselist_side" >
			        	<div class="ED-EDM-panel-heading">
			        		<div align="center" style="cursor:move;" id="ext-gen291">
		        				<span title="" style="color: red;" id="ftDONE_0_1_C_7002620855032af699b95b8070110279_9151592435228cd07bd5cd7067705410___13783624401">Form C: Informal Observation v1.3</span>
			        		</div>
			        	</div>
			        	<div class="ED-EDM-panel-body" style="font-size:13px;background-color:white;"><dl class="ED-EDM-dl-horizontal"><dt>From:</dt><dd>2T</dd><dt>Status:</dt><dd style="color:red">DONE</dd><dt>School Year:</dt><dd>2013-2014</dd><dt>Dependency:</dt><dd style="color: black;">Sequence Dependency</dd><dt>Current User:</dt><dd>Amanda Jarvis</dd><dt>File(.pdf):</dt><dd><div style="font-size:11px;"><a href="../cases/cases_ShowOutputDocument?a=4007990185229c397291405038186786&amp;v=1&amp;ext=pdf&amp;random=42682">KATIE_AGLES_09-06-2013</a><br></div></dd><dt>Update Date:</dt><dd>2013-09-05 08:18:45 PM</dd><dt>Start Date:</dt><dd>2013-09-05 02:27:19 PM</dd></dl></div>
		        		<!--<div class="ED-EDM-panel-footer"></div>-->
		        </div>
		        
		    </div> <!--content end-->
		    
        </div><!--afui end-->
		<!--<script data-main="js/main.js" src="js/require.js"></script>-->
		<script type="text/javascript" charset="utf-8" src="js/appframework.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.css3animate.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.scroller.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.touchEvents.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.touchLayer.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/appframework.ui.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/angular.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/angular-sanitize.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/controllers.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.desktopBrowsers.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/main.js"></script>

    </body>
</html>
