<!DOCTYPE html>
<html lang="en">
    <head>
        <title>App Staff Assessment System</title>
	    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>
    <body ng-app="staffApp" ng-controller="staffPageInfo">
        <div id="afui" class="light">
            <!-- this is the splashscreen you see. -->
		    <!--<div id="splashscreen" class='ui-loader heavy'>
		        App Framework
		        <br>
		        <br>	<span class='ui-icon ui-icon-loading spin'></span>
		        <h1>Starting app</h1>
		    </div>-->
		    
		    <div id="content">
		    	
		    	<!--login page-->
			    <div title='Welcome' id="login" class="panel" 
			     data-load="loadedLogin" 
			     data-header = "login_header"
			     data-nav = "none"
			     >
			     	<div style="overflow: auto">
			            <p id='login_info'>An automated system that provides a Principal console that monitors all staff evaluation forms. These forms are electronic smart forms, that change status when the forms is in progress and again when completed. Each form promotes a professional conversation between the principal and the teacher.</p>

			            <div style="margin-top: 50px;">
				            <div class="pull-left text-center col-sm-3 col-xs-3">
					            <img src="icon.png"/>
										</div>
										<div class="pull-left text-left col-sm-6 col-xs-6" style="margin-bottom: 50px;">
										<form id="form" class="form-horizontal" role="form">
										  <div class="form-group">
										    <label for="txtName" class="col-sm-2 control-label">User</label>
										    <div class="col-sm-10">
										      <input id="txtName" value="{{loginname}}" type="text" class="form-control" placeholder="Login Name">
										    </div>
										  </div>
										  <div class="form-group">
										    <label for="txtPwd" class="col-sm-2 control-label">Password</label>
										    <div class="col-sm-10">
										      <input id="txtPwd" value="{{password}}" type="password" class="form-control" placeholder="Password">
										    </div>
										  </div>
										  <div class="form-group">
										    <div class="col-sm-offset-2 col-sm-5">
										      <div class="checkbox">
										        <label style="margin-bottom: 0px; vertical-align: bottom;">
										          <input name="login_rem" id="login_rem" type="checkbox" style="margin-bottom: 0px; vertical-align: bottom;"> Remember me
										        </label>
										      </div>
										    </div>
										    <div id="trans-input-ws" class="col-sm-5 pull-right">
								    			<input type='text' class="form-control pull-right" placeholder="Workspace" id="txtWs" value="{{ws}}">
								    		</div>
										  </div>
										  <div class="form-group">
										    <div class="col-sm-offset-2 col-sm-10">
										      <input type="button" class="btn btn-primary btn-block" onclick="return verifyLogin();" id="btnLogin" value="Login" style="float:right;">
										    </div>
										  </div>
										</form>
			            	</div>
		            	</div>
		            </div>
		        </div>
		        <header id="login_header">
					<h1>
		        		Staff Evaluation System
					</h1>
				</header>
			    
			    <!-- home page case list-->
			    <div id="caselist" class="panel" 
			    data-header = "caselist_header"
			    data-nav = "caselist_side" data-footer = "none"
			    data-load="caseList">
					<div>
			    		<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="font-weight: bold;">
									<tr>
										<td width="10%" style="cursor: default;">#</td>
										<td width="30%" style="cursor: default;">Case</td>
				        				<td width="35%" style="cursor: default;">Process</td>
				        				<td width="25%" style="cursor: default;">Sent by</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-repeat="case in cases">
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="overflow: hidden;word-break: break-all;">
									<tr onclick="openCase(this)" 
									data-app_number = "{{case.APP_NUMBER}}" data-app_title = "{{case.APP_TITLE}}" 
									data-app_uid = "{{case.APP_UID}}" data-del_index = "{{case.DEL_INDEX}}">
								      	<td width="10%">{{case.APP_NUMBER}}</td>
										<td width="30%">{{case.APP_TITLE}}</td>
				        				<td width="35%">{{case.APP_PRO_TITLE}}</td>
				        				<td width="25%">{{case.APP_DEL_PREVIOUS_USER}}</td>
								    </tr>
								</tbody>
							</table>
						</div>
			    	</div>
				</div>
				<header id="caselist_header" style="text-align: center;">
		        	<h1 id="caselist_header_pageTitle" class="">Staff Evaluation System</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        <!-- side bar -->
		        <nav id="caselist_side">
				    <ul class="list" style="margin-bottom: 0px;">
				    	<li class="divider">User Center</li>
				    	<li><a href="#" onclick="$.ui.loadContent('caselist',false,true,'flip');">Case List</a></li>
				    	<li ng-show="isAudit == 1"><a href="#">Search</a></li>
				    	<li ng-show="isAudit == 1"><a href="#">Calendar</a></li>
				    	<li ng-repeat="menu in menus" ng-class="{divider : menu.IS_ROOT == 1}">
				    		<a href="#" onclick="userList(this)" wy_cat="{{menu.WY_CATEGORY}}" user_type="{{menu.USER_TYPE}}" ng-show="{{menu.IS_ROOT != 1}}">{{menu.MENU_NAME}}</a>
				    		<span ng-show="{{menu.IS_ROOT == 1}}">{{menu.MENU_NAME}}</span>
				    	</li>
					</ul>
					
					<!--<ul class="list" ng-repeat="menu_root in menu_roots" style="margin-bottom: 0px;">
						<li class="divider">{{menu_root.PARENT_MENU_NAME}}</li>
			    		<li ng-repeat="menu in menus" ng-show="{{menu.PARENT_MENU_ID == menu_root.PARENT_MENU_ID}}">
			    			<a>{{menu.MENU_NAME}}</a>
			    		</li>
					</ul>-->
				</nav>
				
				<!-- School List -->
		        <div id="schoolList" class="panel" 
			    data-header = "schoollist_header"
			    data-nav = "none" data-footer = "schoollist_footer"
			    data-load="schoolList">
					<div id="case_content_title">
			    		<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="font-weight: bold;color:#303030">
									<tr>
										<td width="10%" style="cursor: default;">#</td>
										<td width="30%" style="cursor: default;">Case</td>
				        				<td width="35%" style="cursor: default;">Process</td>
				        				<td width="25%" style="cursor: default;">Sent by</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-repeat="case in cases">
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="overflow: hidden;word-break: break-all;">
									<tr>
								      	<td width="10%">{{case.APP_NUMBER}}</td>
										<td width="30%">{{case.APP_TITLE}}</td>
				        				<td width="35%">{{case.APP_PRO_TITLE}}</td>
				        				<td width="25%">{{case.APP_DEL_PREVIOUS_USER}}</td>
								    </tr>
								</tbody>
							</table>
						</div>
			    	</div>
				</div>
				<header id="schoolList_header" style="text-align: center;">
		        	<h1 id="pageTitle" class="">Staff Evaluation System</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <!-- user list-->
		        <div id="userList" class="panel" data-header = "userList_header"
		        data-nav = "caselist_side" data-footer = "none">
		        	<br />
					<div class="input-group col-xs-6">
						<input id="userListSearch" type="text" class="form-control" ng-model="userListSearch" placeholder="Please input first name or last name ">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					</div>
					<br>
					<div class="x-clear"></div>
		        	<div>
			    		<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="font-weight: bold;">
									<tr>
										<td width="20%" style="cursor: default;">First Name</td>
										<td width="20%" style="cursor: default;">Last Name</td>
										<td width="20%" style="cursor: default;">Rating</td>
				        				<td width="25%" style="cursor: default;">Operator</td>
				        				<td width="15%" style="cursor: default;">Status</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-repeat="user in users | filter:userListFilte">
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="overflow: hidden;word-break: break-all;">
									<tr onclick="tagList(this)" data-usruid = "{{user.USR_UID}}" 
									data-schid = "{{user.SCH_ID}}" ng-class="{danger:user.RATING == 'N' || user.RATING == 'U'}">
								      	<td width="20%">{{user.USR_FIRSTNAME}}</td>
								      	<td width="20%">{{user.USR_LASTNAME}}</td>
										<td width="20%"><span style="color:#{{ratcolor[user.RATING].RAT_COLOR}}">{{user.STAFF_RATING}}</span></td>
				        				<td width="25%" onclick="event.cancelBubble=true;assignBtn(this)">{{user.OPERATOR_NAME}}</td>
				        				<td width="15%">{{user.WY_TITLE}}</td>
								    </tr>
								</tbody>
							</table>
						</div>
			    	</div>
		        </div>
		        <header id="userList_header" style="text-align: center;">
		        	<!--<a id="backButton" onclick="$.ui.goBack()" class='button'>Back</a>-->
                    <h1 id="userList_pageTitle" class="">User List</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <!-- user tags -->
		        <div id="userTags" class="panel" data-header = "userTags_header"
		        data-nav = "caselist_side" data-footer = "none">
		        	<div>
			    		<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="font-weight: bold;">
									<tr>
										<td width="20%" style="cursor: default;">First Name</td>
										<td width="20%" style="cursor: default;">Last Name</td>
										<td width="20%" style="cursor: default;">Rating</td>
				        				<td width="25%" style="cursor: default;">Operator</td>
				        				<td width="15%" style="cursor: default;">Status</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>
							<table class="ema-table ema-table-condensed ema-table-hover">
								<tbody style="overflow: hidden;word-break: break-all;">
									<tr ng-class="{danger:tags.RATING == 'N' || tags.RATING == 'U'}">
								      	<td width="20%">{{tags.USR_FIRSTNAME}}</td>
								      	<td width="20%">{{tags.USR_LASTNAME}}</td>
										<td width="20%"><span style="color:#{{tags.RATING_COLORS}}">{{tags.STAFF_RATING}}</span></td>
				        				<td width="25%">{{tags.OPERATOR_NAME}}</td>
				        				<td width="15%">{{tags.WY_TITLE}}</td>
								    </tr>
								</tbody>
							</table>
						</div>
			    	</div>
			    	<div>
			    		<br /><br />
						<table class="ema-table ema-table-bordered ema-table-condensed"></tr>
							<tbody style="font-weight: bold;">
								<tr ng-repeat="seg in segments">
									<td rowspan="{{seg.count}}" ng-show="seg.IS_ROOT == 1" style="vertical-align: middle;">{{seg.SEG_SEM_NAME}}</td>
									<td>{{seg.SEG_NAME}}</td>
									<td><div ng-bind-html="trustHtml(seg.sTag)"></div></td>
								</tr>
							</tbody>
						</table>
			    	</div>
		        </div>
		        <header id="userTags_header" style="text-align: center;">
                    <h1 id="userTags_pageTitle" class="">User List</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <!-- Form Tag List -->
		        <div id="tagList" class="panel" data-header = "tagList_header"
		        data-nav = "caselist_side" data-footer = "none">
		        	<br />
					<div style="font-weight: bold;float: left;"><span>Rating: </span><span style="color: #{{tags.RATING_COLORS}};">{{tags.STAFF_RATING}}</span></div>
					<div style="font-weight: bold;float: right;" ng-show="tags.OPERATOR_NAME"><span>Operator: </span><span>{{tags.OPERATOR_NAME}}</span></div>
					<br /><br />
					<table class="ema-table ema-table-bordered ema-table-condensed"></tr>
						<tbody style="font-weight: bold;">
							<tr ng-repeat="seg in segments">
								<td rowspan="{{seg.count}}" ng-show="seg.IS_ROOT == 1" style="vertical-align: middle;">{{seg.SEG_SEM_NAME}}</td>
								<td>{{seg.SEG_NAME}}</td>
								<td><div ng-bind-html="trustHtml(seg.sTag)"></div></td>
							</tr>
						</tbody>
					</table>
		        </div>
		        <header id="tagList_header" style="text-align: center;">
		        	<span id="tagList_back_btn"></span>
                    <h1 id="tagList_pageTitle" class="">Form Tags</h1>
		        	<a onclick='$.ui.toggleSideMenu();' class='menuButton'></a>
		        </header>
		        
		        <!-- case info -->
		        <div id="caseInfo" style="padding:0px;" 
		        class="panel ED-EDM-panel-default" 
		        data-header = "none" data-footer = "none" 
		        data-nav = "caselist_side" >
		        	<div ng-bind-html="trustHtml(caseInfo)"></div>
		        </div>
		        
		        <!-- Evaluator List-->
		        
		        <!-- Running Case -->
		        <div id="runCase" class="panel"
		        data-title = ""
		        data-footer = "none"
		        data-load = "loadCase_before"
		        data-unload = "loadCase_after"
		        >
		        	<div ng-include="runCase_formUrl" style="margin-top: 15px;">
		        		This will replaced by specific form
		        	</div>
		        </div>
		        
		        <!-- open case -->
		        <div id="openCase" class="panel"
		        data-title = ""
		        data-footer = "none"
		        data-load = "openCase_before"
		        data-unload = "openCase_after"
		        >
		        
		        	<form id="case_save_form" method="post" action="" enctype="multipart/form-data" target="case_save_iframe">
		        		<!-- <input name="form[xxx][rdxx]" checked="" id="form[xxx][rdxx]" class="toggle" type="checkbox"><label for="form[xxx][rdxx]" data-on="Yes" data-off="No"><span></span></label> -->

		        		<div compile="sFormContent" style="margin-top: 15px;"></div>
		        		<input id="APP_UID" name="APP_UID" type="hidden" value="{{sAppUid}}" />
		        		<input id="DEL_INDEX" name="DEL_INDEX" type="hidden" value="{{iDelIndex}}" />
		        		<input id="POSITION" name="POSITION" type="hidden" value="{{iPosition}}" />
		        		<input id="PRO_UID" name="PRO_UID" type="hidden" value="{{sProUid}}" />
		        		<iframe id="case_save_iframe" name="case_save_iframe" src="#" style="width: 0; height: 0; border: 0px solid #fff;"></iframe>
		        	</form>
		        	<!--<div ng-bind-html="trustHtml(sFormContent)" style="margin-top: 15px;"></div>-->
		        </div>
		    

		    </div> <!--content end-->
	    <div id="modal-dialog" class="modal" style="display:none;z-index: 99999;">
			  <div class="modal-dialog" style="margin-top: 10%;">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close pull-right" onclick="hideMsg()" style="margin-top: -11px;">&times;</button>
			      </div>
			      <div id="modal-dialog-body" class="modal-body">
			        <p>One fine body&hellip;</p>
			      </div>
			      
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
				<!-- after submit/save/derivate a form, will have a response from server side, this will record the post type -->
		    <input id="form_post_type" name="form_post_type" type="hidden" value="" />
        </div><!--afui end-->
		<!--<script data-main="js/main.js" src="js/require.js"></script>-->
		<script type="text/javascript" charset="utf-8" src="js/appframework.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.css3animate.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.scroller.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.touchEvents.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/af.touchLayer.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/appframework.ui.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/angular.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/angular-sanitize.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/controllers.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/main.js"></script>
		
		<script src="view/ui/ui-bootstrap-tpls-0.10.0.js"></script>
		<script type="text/javascript">
			if (!((window.DocumentTouch && document instanceof DocumentTouch) || 'ontouchstart' in window)) {
                var script = document.createElement("script");
                script.src = "js/af.desktopBrowsers.js";
                var tag = $("head").append(script);
                //$.os.desktop=true;
            }
		</script>
    </body>
</html>
